.filters {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  @media (max-width: 720px) {
    flex-direction: column;
  }
  & button {
    width: 33%;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.2s;
    @media (max-width: 720px) {
      width: 100%;
    }
    @media (max-width: 1100px) {
      @include adaptiv-320(font-size, 20, 16);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &__target {
    transition: all 0.2s;
    background-color: rgb(41, 43, 45);
    color: white;
  }
}
